<section class="special">
  <h2 class="special__title">Специальные предложения</h2>
  <div class="special__wrap">
    <div class="special__offer offer offer--card">
        <h3 class="offer__title">Оформите карту «Северяночка»</h3>
        <p class="offer__description">И получайте бонусы при покупке в магазинах и на сайте</p>
    </div>
    <div class="special__offer offer offer--promo">
      <h3 class="offer__title">Покупайте акционные товары</h3>
      <p class="offer__description">И получайте вдвое больше бонусов</p>
    </div>
  </div>
</section>